__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.python-version
venv/
ENV/
env/
.venv/
.env/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.ipynb_checkpoints
*.log
__customtkinter__/
